.external-2click {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px black dotted;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    color: black;

    .external-2click-target {
        display: none;
    }

    &.is-loaded {
        border: 0 !important;
        padding: 0;

        .external-2click-target {
            display: block;
        }

        .external-optout {
            display: block;
        }

        .external-2click-src,
        &::before {
            display: none;
        }

        iframe {
            display: block;
            min-height: unset;
        }
    }

    &::before {
        display: none;
        content: attr(data-provider);
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        font-size: 0.75rem;
        background: #222;
        color: #fff;
        padding: 0.2rem 0.5rem;
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .external-optout {
        display: none;
        margin-top: 7px !important;
        font-size: 75% !important;
        text-align: left;
    }

    .external-placeholder {
        margin-bottom: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #000;

        p {
            margin: 0;
            font-size: 1.2rem;
        }
    }

    iframe {
        display: none;
        width: 100%;
        min-height: 400px;
        border: 0;
    }
}

.external-2click-src {
    margin: 1rem auto 1rem auto;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.75rem;
    display: block;
    color: #000;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.external-placeholder {
    button {
        margin-top: 1rem;
    }

    .external-load {
        padding: 13px 30px 13px;
        border-radius: 3px;
        border: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0;
        text-align: center;
        background: red;
        text-decoration: none;
        text-transform: uppercase;
    }

    .external-load:hover {
        background: darkred;
        color: #fff;
        cursor: pointer;
    }
}